.Posts {
    display: flex;
    flex-direction: column;
    flex-basis: 88%;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
    height: 100%;
    /*background-color: cornflowerblue;*/
}

.select {
    font-weight: bold;
    color: deeppink;
}

.pag {
    cursor: pointer;
    margin-right: 5px;
}

.pagination {
    margin-bottom: 10px;
}

.wrapperDifferentPosts {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;
}

.wrapperDifferentPosts > div {
    cursor: pointer;
}

.wrapperDifferentPosts > div:hover {
    cursor: pointer;
    background-color: #ff5e5b;
}