.createPost {
    display: flex;
    flex-direction: column;
    flex-basis: 88%;
}

.wrapperCreatePost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    width: 100%;
	height: 100%;
}

.textArea {
    resize: none;
    flex: 2 0 auto;
    background-color: #063d7c2d;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.submit {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.createBTN {
    background-color: rgb(201, 115, 115);
    height: 50px;
}

@media screen and (max-width: 767px) {

    .wrapperCreatePost {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }

}