.createPost {
    display: flex;
    flex-direction: column;
    flex-basis: 88%;
    margin-right: 12%;
    align-items: center;
}

.wrapperCreatePost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    width: 800px;
	height: auto;
    background: #fff;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
}

/* родительский блок для полей ввода */
.wrapperFields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    height: 350px;
    margin: 10px;
}

.textArea {
    resize: none;
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 7px 10px 0 10px;
}

.textAreaTags {
    height: 70px;
    background-color: #f3f3f3;
    padding: 7px 10px 0 10px;
    resize: none;
    border-radius: 5px;
}

.submit {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.createBTN {
    background-color: #6200EE;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
}

@media screen and (max-width: 767px) {

    .createPost {
        margin: 5px;
    }

    .wrapperCreatePost {
        flex-direction: column;
        width: 100%;
    }

    .wrapperFields {
        width: auto;
    }

}