.Users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 88%;
    gap: 10px;
    width: 600px;
    height: 600px;
}

.wrapperUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    gap: 10px;
    background-color: #fff;
    border: 1px solid #a5a5a5;
    padding: 5px;
}

.avatar {
    padding-left: 10px;
}

.avatar > img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #3700b3;
}

.avatar > img:hover {
    width: 80px;
    height: 80px;
    border-radius: 0%;
}

.nameUser {
    width: 100%;
}

.wrapperUser > a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 767px) {
    .Users {
        width: 100%;
        flex-basis: auto;
        justify-content: space-around;
    }
}