body {
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    font-family: Roboto, Geneva, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 1440px;
    min-width: 860px;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    gap: 10px;
}

.Content {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    gap: 10px;
    margin: 0 10px 0 10px;
}