.Header {
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    max-height: 50px;
    background-color: #ff5e5b;
    /*background: linear-gradient(90deg, #d7d931, #cdd21f);*/
    /*background-color: #8b98a3;*/
    /*background-color: #1d1f1f;*/
}

.login {
    flex-shrink: 0;
    margin-right: 10%; /* прижимаем левый край */
    padding-left: 10px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.info > img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.logo {
    margin-left: auto; /* прижимаем правый край */
    margin-right: 45%; /* выравниваем по центру */
    color: #2b2d42;
    font-size: x-large;
    text-decoration: none;
}