.NavBar {
    /* сдвинуть на 13% */
    flex-basis: 12%; 
    display: flex;
    /* padding-left: 10px; */
    padding-top: 20px;
}

.wrapperNavBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding-top: 20px;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    height: 120px; */
    padding: 10px;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    height: 86px;
    width: 100px;
    background-color: #fff;
}

/* .menuIconItem {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
} */

.item.active {
    color: #3700b3;
}

.item {
    color: black;
    text-decoration: none;
    margin-bottom: 3px;
}

@media screen and (max-width: 767px) {
    .NavBar {
        flex-basis: auto;
        display: flex;
        /* background-color: #f17a78; */
        border: 1px solid #3700b3;
    }

    .wrapperNavBar {
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        padding-top: 0;
    }

    .menuIconItem {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }

    .item.active {
        /* background-color: #6200EE; */
        color: #3700b3;
    }

    /* .item {
        background-color: #6200EE;
        color: #fff;
    } */

    /* User */

    /* .infoUserPage {
        display: flex;
        flex-direction: column;
        gap: 10px;
    } */
}