.Post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
    background-color: #f0f4f8;
    width: 600px;
    height: 200px;
}


/* Header Post */
.postHeader {
    background-color: #ff5e5b;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.postUserInfo>a {
    text-decoration: none;
    color: #2b2d42;
}


/* Header > User Information */
.postUserInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-left: 10px;
}

.postAvatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.postAvatar>img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.postNameUser {
    display: flex;
    padding-top: 10px;
}

.postNameUser>a {
    text-decoration: none;
    color: #2b2d42;
}

/* Header > Post Information */
.postRating {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-right: 10px;
}

.postRating>div {
    cursor: pointer;
    width: 27px;
    text-align: center;
}

.postRating>button {
    cursor: pointer;
    border: 1px solid #2b2d42;
}


/* Content Post */
.postText {
    display: flex;
    align-items: flex-start;
    background-color: #8d99ae;
    flex: 5 0 auto;
    padding-left: 10px;
    padding-top: 10px;
}