.Post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
    background-color: #d7d931;
    width: 600px;
    height: 200px;
}

.postNameUser {
    background-color: #70cde3;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.postText {
    display: flex;
    align-items: flex-start;
    background-color: #ffcb00;
    flex: 5 0 auto;
    padding-left: 10px;
    padding-top: 10px;
}

.postAvatar {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.postAvatar > img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}